apiVersion: apps/v1
kind: Deployment
metadata:
  name: goserver
  labels: 
    app: goserver
spec:
  selector:
    matchLabels:
      app: goserver
  replicas: 1
  template:
    metadata:
      labels:
        app: "goserver"
    spec:
      containers:
        - name: "goserver"
          image: "andrejr971/hello-go:v4"
          envFrom: # Load environment variables from a ConfigMap
            - configMapRef:
                name: "goserver-env"

          # env: # Environment variables for the container
          #   - name: "NAME"
          #     valueFrom: 
          #       configMapKeyRef:
          #         name: "goserver-env"
          #         key: "NAME"
                  
          #   - name: "AGE"
          #     valueFrom: 
          #       configMapKeyRef:
          #         name: "goserver-env"
          #         key: "AGE"