apiVersion: apps/v1
kind: Deployment
metadata:
  name: goserver
  labels: 
    app: goserver
spec:
  selector:
    matchLabels:
      app: goserver
  replicas: 1
  template:
    metadata:
      labels:
        app: "goserver"
    spec:
      containers:
        - name: "goserver"
          image: "andrejr971/hello-go:v4"
          env: # Environment variables for the container
            - name: "NAME"
              value: "Andre"
            - name: "AGE"
              value: "30"